In [1]:
import sqlite3

In [3]:
con = sqlite3.connect('mydata.sqlite')
con.execute('drop table if exists test')

query= """

CREATE TABLE test
(a VARCHAR(20),
b VARCHAR(20),
c REAL,
d INTEGER);
"""

con.execute(query)
con.commit()

In [12]:
con = sqlite3.connect('mydata.sqlite')

data_row = [('Atlanta', 'Georgia', 1.25, 6),
         ('India', 'paaap', 5.25, 7),
         ('US', 'which', 6.25, 5)]

query1 = "INSERT INTO test VALUES (?, ?, ?, ?)"

con.executemany(query1, data_row)
con.commit()

In [14]:
data = con.execute("SELECT * FROM test")


for row in data:
    print(row)

('Atlanta', 'Georgia', 1.25, 6)
('India', 'paaap', 5.25, 7)
('US', 'which', 6.25, 5)